.style-switcher{
	position: fixed;
	right: 0;
	top: 100px;
	z-index: 999;
	padding: 15px;
	background-color: #ffffff;
	border-radius: 0 0 0 5px;
	border-right: none;
	border: 1px solid # d4d4e3;
	width: 150px;
	transform: translateX(100%);
	transition: all 0.3s ease;
}
.style-switcher.open{
	transform: translateX(0%);
}
.style-switcher h5{
	font-size: 16px;
	font-weight: 600;
	line-height: 25px;
	color: #222222;
	shape-margin: 8px;
	border-bottom: 1px solid #d4d4e3;
	padding-bottom: 5px;
}
.style-switcher ul{
	margin: 0;
}
.style-switcher ul li{
	display: inline-block;
	height: 30px;
	width: 30px;
	margin-right: 2px;
	border-radius: 50%;
}
.style-switcher .toggle-style-switcher{
	background-color: #ffffff;
	position: absolute;
	height: 45px;
	width: 45px;
	left: -46px;
	top: -1px;
	border: 1px solid #d4d4e3;
	border-right: none;
	border-radius: 5px 0 0 5px;
	cursor: pointer;
	text-align: center;
}
.style-switcher .toggle-style-switcher i{
	line-height: 43px;
	font-size: 20px;
}
